@import "../../styles/variables.scss";

.menu-icon {
  position: fixed;
  top: 0;
  padding: 5px;
  z-index: 99;
}

.menu-icon--hide {
  animation: iconHide 0.4s linear both;

  @keyframes iconHide {
    from {
      right: 0;
    }
    to {
      right: -100px;
    }
  }
}

.menu-icon--show {
  animation: iconShow 0.4s linear both;

  @keyframes iconShow {
    from {
      right: -100px;
    }
    to {
      right: 0;
    }
  }
}

.fa-caret-down {
  font-size: 65px;
  transform: rotate(90deg);
  color: $main-color;

  @media (min-width: 411px) {
    font-size: 75px;
  }

  @media (min-width: 768px) {
    font-size: 90px;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}
