@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.hobbies {
  @include animation();
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.hobbies__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobbies__img {
  width: 85%;
  border-radius: 15px;
  box-shadow: 0 0 4px black;

  @media (orientation: landscape) {
    width: 55%;
  }

  @media (min-width: 768px) {
    width: 65%;
  }

  @media (min-width: 1024px) {
    width: 45%;
  }
}

.hobbies__description {
  width: 100%;
  margin: 20px 0;
  padding: 6px 10px;
  font-size: 14px;
  text-align: center;
  background-color: #eee;
  line-height: 150%;
  border-top: 2px solid $main-color;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    width: 70%;
    font-size: 20px;
  }
}
