.app {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;

  .app__header {
    position: relative;
    height: 60vh;
    overflow: hidden;
  }
  .app__nav {
    width: 100%;
  }
  .app__page {
    min-height: 100vh;
    // background-color: goldenrod;
  }
  .app__footer {
    height: 15vh;
    background-color: black;
    color: white;
  }
}
