.sliders {
  .sliders__image {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -99;

    @media (min-width: 1024px) {
      height: auto;
    }
    @media (orientation: landscape) {
      height: auto;
    }
  }

  .sliders__title {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 28px;
    bottom: 22%;
    color: white;
    text-transform: uppercase;
    animation: changeColor 1s 0.7s both ease;

    @media (min-width: 411px) {
      font-size: 33px;
    }

    @media (min-width: 768px) {
      font-size: 50px;
    }

    @media (min-width: 1024px) {
      font-size: 60px;
    }

    @keyframes changeColor {
      from {
        bottom: 10%;
        opacity: 0;
      }
      to {
        bottom: 22%;
        opacity: 1;
      }
    }
  }
}
