.menu-icon {
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  z-index: 99;
  .fa-caret-down {
    font-size: 65px;
    transform: rotate(90deg);
    color: goldenrod;

    @media (min-width: 411px) {
      font-size: 75px;
    }
    @media (min-width: 768px) {
      font-size: 90px;
    }
    @media (min-width: 1024px) {
      display: none;
    }
  }
}

.menu-icon.show {
  animation: showIcon 1s 0.5s linear both;
  @keyframes showIcon {
    from {
      right: -100px;
    }
    to {
      right: 0;
    }
  }
}

.menu-icon.hide {
  animation: hideIcon 1s 0.5s linear both;
  @keyframes hideIcon {
    to {
      right: -100px;
    }
  }
}
