.nav {
  display: flex;
  height: 100%;
  list-style: none;
  background-color: #ddd;
  .nav__item {
    flex-basis: 150px;
    .nav__link {
      display: block;
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      color: black;
    }
  }
}
