@import "mixins.scss";

.portfolio {
  @include animation();

  .portfolio__wrapper {
    margin: 50px auto;

    .portfolio__title {
      @include title();
    }

    .portfolio__description {
      padding: 6px 15px;
      font-size: 18px;
      text-align: center;
      line-height: 150%;
      background-color: #eee;

      @media (min-width: 411) {
        font-size: 24px;
      }

      @media (min-width: 768px) {
        font-size: 26px;
      }

      @media (min-width: 1024px) {
        font-size: 30px;
      }
    }
    .portfolio__link {
      display: block;
      width: 70%;
      padding: 15px;
      margin: 25px auto;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      color: black;
      border: 2px solid goldenrod;

      @media (min-width: 411) {
        font-size: 24px;
      }

      @media (min-width: 768px) {
        width: 45%;
        font-size: 26px;
      }

      @media (min-width: 1024px) {
        font-size: 30px;
        cursor: pointer;
        transition: 0.2s;
      }
    }
    @media (min-width: 1024px) {
      .portfolio__link:hover {
        color: white;
        background-color: goldenrod;
      }
    }
  }
}
