@import "../../styles/variables.scss";

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 55%;
  height: 60vh;
  top: 0;
  right: -100vw;
  align-items: center;
  z-index: 99;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.9);

  @media (orientation: landscape) {
    width: 45%;
    height: 100vh;
  }

  @media (min-width: 768px) and (orientation: portrait) {
    width: 40%;
    height: 45vh;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    height: auto;
    width: 100%;
    right: auto;
    left: auto;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.6);
  }

  @media (min-width: $max-web-width) {
    width: $max-web-width;
  }
}

.nav--show {
  animation: show 0.4s linear both;

  @keyframes show {
    from {
      right: -100vw;
    }
    to {
      right: 0;
    }
  }
}

.nav--hide {
  animation: hide 0.4s linear both;

  @keyframes hide {
    from {
      right: 0;
    }
    to {
      right: -100vw;
    }
  }

  @media (min-width: 1024px) {
    animation: none;
  }
}

.nav__item {
  width: 65%;
  text-align: center;

  @media (min-width: 1024px) {
    :hover {
      transform: scale(1.2);
      // border-bottom: 2px white solid;
    }
  }
}

.nav__link {
  display: block;
  padding: 20px 0;
  font-size: 14px;
  // border-bottom: 2px solid white;
  text-transform: uppercase;
  text-decoration: none;
  color: $main-color;

  @media (min-width: 411px) {
    // padding: 25px 35px 15px;
    font-size: 17px;
  }

  @media (min-width: 768px) {
    // padding: 40px 40px 20px;
    font-size: 20px;
  }

  @media (orientation: landscape) {
    padding: 15px 0;
  }

  @media (min-width: 1024px) {
    padding: 10px 5px 5px;
    margin: 5px;
    font-size: 16px;
    border-bottom: none;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 2px transparent solid;
  }
}

.active {
  color: white;
  text-shadow: 0 0 5px white;
  transform: scale(1.1);

  @media (min-width: 1024px) {
    color: $main-color;
    text-shadow: 0 0 10px $main-color;
    transform: scale(1.2);
  }
}
