@import "../../styles/variables.scss";

.exit-icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
}

.fa-times {
  font-size: 20px;
  color: $main-color;

  @media (min-width: 411px) {
    font-size: 22px;
  }

  @media (min-width: 768px) {
    font-size: 24px;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}
