@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.experience {
  @include animation();
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 20px 0;
}

.experience__title {
  @include title();
}

.experience__wrapper {
  margin: 25px 15px;

  @media (min-width: 768px) and (orientation: portrait) {
    width: 70vw;
    padding: 15px;
    margin: 25px auto;
  }

  @media (min-width: 1024px) {
    width: 60vw;
    padding: 20px;
    margin: 25px auto;
  }
}

.experience__wrapper:nth-of-type(odd) {
  @media (min-width: 1024px) {
    margin: 25px 0 25px 30px;
  }
}

.experience__wrapper:nth-of-type(even) {
  @media (min-width: 1024px) {
    margin: 25px 30px 25px auto;
  }
}

.experience__companyName {
  padding: 5px;
  background-color: $main-color;
  color: white;
  font-size: 16px;
  box-shadow: 0 0 2px 0 gray;

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 1024px) {
    font-size: 22px;
  }
}

.experience__text {
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 14px;
  text-align: justify;
  background-color: #eee;
  line-height: 150%;
  box-shadow: 0 0 2px 0 gray;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.experience__text--italic {
  font-style: italic;
}

.experience__text--boldGolden {
  font-weight: bold;
  color: $main-color;
}

.experience__text--fz {
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    font-size: 17px;
  }
}
