@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.skills {
  @include animation();
  margin: 20px 0;
  width: 100%;
}

.skills__title {
  @include title();
}

.skills__name {
  padding: 6px 10px;
  font-size: 12px;
  text-align: justify;
  margin: 0 5%;
  text-transform: uppercase;

  @media (orientation: landscape) {
    margin: 0 15%;
  }

  @media (min-width: 411px) {
    font-size: 14px;
  }

  @media (min-width: 768px) {
    margin: 0 10%;
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    margin: 0 15%;
    font-size: 18px;
  }
}

.skills__name--alone {
  margin: 10px;
  border-top: 1px solid $main-color;
  background-color: #eee;
  text-align: center;

  @media (min-width: 768px) {
    margin: 15px 40px;
  }

  @media (min-width: 1024px) {
    width: 70%;
    margin: 15px auto;
  }
}

.skills__bar {
  width: 90%;
  height: 10px;
  margin: 0 auto;
  background-color: #333;

  @media (orientation: landscape) {
    width: 70%;
  }

  @media (min-width: 768px) and (orientation: portrait) {
    width: 80%;
  }
}

.skills__progress {
  height: 100%;
  background-color: goldenrod;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
