@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.portfolio {
  @include animation();
}

.portfolio__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}

.portfolio__title {
  @include title();
  width: 100%;
}

.portfolio__description {
  width: 100%;
  padding: 6px 15px;
  font-size: 14px;
  text-align: center;
  line-height: 150%;
  background-color: #eee;

  @media (min-width: 768px) {
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    padding: 6px 100px;
    font-size: 18px;
  }
}

.portfolio__link {
  display: block;
  width: 70%;
  padding: 7px 10px;
  margin: 10px 0;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $main-color;
  font-weight: bold;
  border: 1px solid $main-color;

  @media (orientation: landscape) {
    width: 35%;
  }

  @media (min-width: 768px) {
    width: 45%;
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    width: 30%;
    cursor: pointer;
    transition: 0.2s;
  }
}

@media (min-width: 1024px) {
  .portfolio__link:hover {
    color: white;
    background-color: $main-color;
  }
}
